<template>
  <div class="aboutContainer" id="About">
    <div class="content">
      <div class="title">{{$t('aboutUs')}}</div>
      <div class="textMain">
        {{$t('aboutText0')}}<strong>{{$t('aboutText1')}}</strong>{{$t('aboutText2')}}<strong>{{$t('aboutText3')}}</strong> 
      </div>
      <div class="note"><strong>{{$t('aboutDescription0')}}</strong>{{$t('aboutDescription1')}}
      </div>
      <message-button :theme="'dark'"></message-button>
    </div>
    <img src="~assets/about-us-bg.png"
     srcset="~assets/about-us-bg@2x.png 2x"
     class="background"/>
  </div>
</template>

<script>
import messageButton from './message-button.vue'
export default {
  components: { messageButton },

}
</script>

<style lang="scss" scoped>

.aboutContainer {
  @media screen and (orientation: portrait) {
    padding-left: r(20);
    padding-bottom: r(350);
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-top: r(40);
  }

  display: block;
  width: 100vw;
  margin-top: w(-90);
  max-width: w(1920);
  height: w(1150);
  position: relative;
}

.background {
  @media screen and (orientation: portrait) {
    height: r(475);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  @media screen and (orientation: landscape) {
    top: 0;
    right: 0;
    width: w(1647);
    height: w(1150);
  }


  display: block;
  position: absolute;
}

.content {
  @media screen and (orientation: portrait) {
    width: r(339);
    height: max-content;
    position: static;
  }

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  position: absolute;
  top: w(289);
  left: w(250);
  z-index: 2;
}

.title {
  @media screen and (orientation: portrait) {
    font-size: r(16);
    width: r(77);
    margin-bottom: r(20);
  }

  width: w(77);
  height: w(22);
  margin: 0 w(515) w(24) 0;
  font-family: ClashGrotesk;
  font-size: w(16);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #5bd7f1;
  white-space: nowrap;
  text-transform: uppercase;
}


.note {
  @media screen and (orientation: portrait) {
    width: 100%;
    font-size: r(16);
    margin-top: r(20);
  }
  width: w(521);
  margin-top: w(40);
  font-family: ClashGrotesk;
  font-size: w(21);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.62;
  letter-spacing: normal;
  color: #010a27;
  z-index: 2;

  & > strong {
    font-weight: 600;
  }
}

.textMain {
  @media screen and (orientation: portrait) {
    width: 100%;
    font-size: r(34);
  }

  width: w(592);
  font-family: ClashGrotesk;
  font-size: w(48);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #010a27;

  & > strong {
    color: #5bd7f1;
  }
}


</style>