<template>
<div class="container">
  <div class="imageRowContainer" id="Videos">
    <img src="~assets/pp-1264.png"
     srcset="~assets/pp-1264@2x.png 2x,
             ~assets/pp-1264@3x.png 3x"
     class="r1c1">

     <div class="biggest">
       <img src="~assets/pp-1559.png"
     srcset="~assets/pp-1559@2x.png 2x,
             ~assets/pp-1559@3x.png 3x"
     class="background">
      <img src="~assets/group-7.svg"
     class="play play--big">
     </div>

     <img src="~assets/pp-1646.png"
     srcset="~assets/pp-1646@2x.png 2x,
             ~assets/pp-1646@3x.png 3x"
     class="r1c3">

     <img src="~assets/mantinel.jpg"
     class="r1c4 mantinel">

     <img src="~assets/pp-1609.png"
     srcset="~assets/pp-1609@2x.png 2x,
             ~assets/pp-1609@3x.png 3x"
     class="r2c1">

     <img src="~assets/pp-1304.png"
     srcset="~assets/pp-1304@2x.png 2x,
             ~assets/pp-1304@3x.png 3x"
     class="horizontal">

     <img src="~assets/pp-1592.png"
     srcset="~assets/pp-1592@2x.png 2x,
             ~assets/pp-1592@3x.png 3x"
     class="r1c6">

     <img src="~assets/pp-1489.png"
     srcset="~assets/pp-1489@2x.png 2x,
             ~assets/pp-1489@3x.png 3x"
     class="r2c6">

     <div class="vertical"></div>
  </div>
  <div class="imageColumnContainer">
    <div class="row">
      <img src="~assets/pp-1264.png"
     srcset="~assets/pp-1264@2x.png 2x,
             ~assets/pp-1264@3x.png 3x"
     class="half">

     <img src="~assets/pp-1489.png"
     srcset="~assets/pp-1489@2x.png 2x,
             ~assets/pp-1489@3x.png 3x"
     class="half">

     <img src="~assets/pp-1592.png"
     srcset="~assets/pp-1592@2x.png 2x,
             ~assets/pp-1592@3x.png 3x"
     class="half three">
    </div>
    <div class="row">
      <img src="~assets/pp-1609.png"
     srcset="~assets/pp-1609@2x.png 2x,
             ~assets/pp-1609@3x.png 3x"
     class="half three">
      <img src="~assets/pp-1304.png"
     srcset="~assets/pp-1304@2x.png 2x,
             ~assets/pp-1304@3x.png 3x"
     class="half">
    </div>
  </div>
</div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.imageColumnContainer {
  display: none;
  margin-top: f(20);
  @media screen and(orientation: portrait){
    display: block;
  }

  @media screen and(max-width: 750px){
    .three {
      display: none;
    }
  }

  width: 100%;
  height: min-content;

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  // .half {
  //   width: 40%;
  // }

  .full {
    width: 80%;
  }
}

.imageRowContainer {
  @media screen and(orientation: portrait){
    display: none;
  }
  display: grid;
  width: 1920px;
  height: 420px;
  margin-top: w(100);
  grid-template-columns: 220px 700px repeat(4, 220px);
  grid-template-rows: 200px 200px;
  row-gap: 20px;
  column-gap: 20px;
  z-index: 1;
  overflow: hidden;
}

.mantinel {
  display: block;
  width: 220px;
  height: 200px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
}

.play {
  display: none;;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  &--big {
    transform: translate(-30%,-30%);
    width: 154px;
    height: 154px;
  }

  &--small {
    width: 67px;
    height: 67px;
  }
}

.biggest {
  display: block;
  position: relative;
  grid-row: 1 / span 2;
  grid-column: 2;

  & > .background {
    display: block;
  }
}

.vertical {
  display: block;
  grid-row: 1 / span 2;
  grid-column: 5;
  background-image: url("~assets/vertical.jpg");
  background-position: center;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  width: 220px;
  height: 420px;
}

.horizontal {
  grid-row: 2;
  grid-column: 3 / span 2;
}

.r1 {
  &c1 {
    grid-row: 1;
    grid-column: 1;
  }

  &c3 {
    grid-row: 1;
    grid-column: 3;
  }

  &c4 {
    grid-row: 1;
    grid-column: 4;
  }

  &c6 {
    grid-row: 1;
    grid-column: 6;
  }
}

.r2 {
  &c1 {
    grid-row: 2;
    grid-column: 1;
  }

  &c6 {
    grid-row: 2;
    grid-column: 6;
  }
}
</style>