<template>
  <div class="outerContainer">
    <div v-if="!isHamburgerOpen" class="container">
      <div class="nav">
        <img src="~assets/group.svg" class="nav_logo"/>
        <div class="nav_buttons">
          <div class="socialButtonsContainer">
            <img src="~assets/1479877261-46-facebook.svg"
      class="-\34 6-facebook"/>
            <img src="~assets/1479877263-38-instagram.svg"
      class="-\33 8-instagram"/>
      <img src="~assets/1479877267-58-youtube.svg"
      class="-\35 8-youtube"/>
      <nuxt-link v-if="$i18n.locale == 'cs'" :to="localePath('index', 'en')">
        <img src="~assets/usa.png"
     srcset="~assets/usa@2x.png 2x,
             ~assets/usa@3x.png 3x"
     class="usa">
      </nuxt-link>
      <nuxt-link v-if="$i18n.locale == 'en'" :to="localePath('index', 'cs')">
        <img  src="~assets/1479877267-58-youtube-copy.svg"
      class="-\35 8-youtube-copy"/>
      </nuxt-link>
          </div>
          <button class="orderButton">
            <img src="~assets/message-envelope-email-mail-postage.svg"
      class="message-envelope-email-mail-postage">
            <span>ORDER</span>
          </button>
        </div>
        <svg @click="isHamburgerOpen = true" class="nav_hamburger" xmlns="http://www.w3.org/2000/svg" width="23" height="19" viewBox="0 0 23 19">
          <g fill="none" fill-rule="evenodd">
              <g fill="#FFF" fill-rule="nonzero">
                  <g transform="translate(-332 -124) translate(332 124)">
                      <rect width="23" height="3" rx="1"/>
                      <rect width="23" height="3" y="8" rx="1"/>
                      <rect width="23" height="3" y="16" rx="1"/>
                  </g>
              </g>
          </g>
        </svg>
      </div>
      <div class="nav_links">
        <a href="#" @click="goTo('Product')">{{$t('product')}}</a>
        <a href="#" @click="goTo('Videos')">{{$t('videos')}}</a>
        <a href="#" @click="goTo('About')">{{$t('aboutUs')}}</a>
        <a href="#" @click="goTo('Players')">{{$t('players')}}</a>
        <a href="#" @click="goTo('Contact')">{{$t('contact')}}</a>
      </div>

      <div class="sentence">
        {{$t('sentence0')}}<strong class="blueHighlight">{{$t('sentence1')}}</strong> 
      </div>

      <h1 class="title">
        <strong class="blueHighlight">{{$t('title0')}}</strong> {{$t('title1')}}
        <strong class="greyHighlight">{{$t('title2')}}</strong> {{$t('title3')}} <strong class="greyHighlight">{{$t('title4')}}</strong>
      </h1>

      <img src="~assets/pozadi.jpg"
      srcset="~assets/pozadi@2x.jpg 2x,
              ~assets/pozadi@3x.jpg 3x"
      class="pozadi"/>

      <img src="~assets/bruslar-v-2.png"
      srcset="~assets/bruslar-v-2@2x.png 2x,
              ~assets/bruslar-v-2@3x.png 3x"
      class="bruslar---V2"/>

      <img src="~assets/mraky.png"
      srcset="~assets/mraky@2x.png 2x,
              ~assets/mraky@3x.png 3x"
      class="mraky">

      <div class="Rectangle"></div>

      <scroll-down class="scroll"/>
      <img @click="isVideoModalOpen = true" src="~assets/play-button.svg"
      class="Play-button"/>
    </div>
    <div v-else class="hamburger">
      <div class="hamburger_topRow">
        <img src="~assets/group.svg" class="nav_logo"/>
        <svg @click="isHamburgerOpen = false" xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33">
            <g fill="none" fill-rule="evenodd">
                <g fill="#FFF" fill-rule="nonzero">
                    <g>
                        <g transform="translate(-327 -117) translate(15 116) rotate(45 162.757 397.153)">
                            <rect width="23" height="3" y="10" rx="1"/>
                            <rect width="23" height="3" y="10" rx="1" transform="rotate(90 11.5 11.5)"/>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </div>
      <div class="hamburger_links">
        <a href="#" @click="goTo('Product')">{{$t('product')}}</a>
        <a href="#" @click="goTo('Videos')">{{$t('videos')}}</a>
        <a href="#" @click="goTo('About')">{{$t('aboutUs')}}</a>
        <a href="#" @click="goTo('Players')">{{$t('players')}}</a>
        <a href="#" @click="goTo('Contact')">{{$t('contact')}}</a>
      </div>
      <div class="hamburger_socialLinks">
        <img src="~assets/1479877261-46-facebook.svg"
  class="-\34 6-facebook"/>
        <img src="~assets/1479877263-38-instagram.svg"
  class="-\33 8-instagram"/>
  <img src="~assets/1479877267-58-youtube.svg"
  class="-\35 8-youtube"/>
  <nuxt-link v-if="$i18n.locale == 'cs'" :to="localePath('index', 'en')">
        <img src="~assets/usa.png"
     srcset="~assets/usa@2x.png 2x,
             ~assets/usa@3x.png 3x"
     class="usa">
      </nuxt-link>
      <nuxt-link v-if="$i18n.locale == 'en'" :to="localePath('index', 'cs')">
        <img  src="~assets/1479877267-58-youtube-copy.svg"
      class="cze"/>
      </nuxt-link>
      </div>
      <button class="hamburger_orderButton">
        <img src="~assets/message-envelope-email-mail-postage.svg">
        <span>ORDER</span>
      </button>
    </div>
    <div v-if="isVideoModalOpen" class="videoModal" @click="isVideoModalOpen = false">
      <video autoplay loop controls width="250" preload="auto" class="videoModal_video" poster="~assets/bruslar-v-2.png" @click="(event) => event.stopPropagation()">

          <source src="~assets/mainVideo.mp4"
                  type="video/mp4">

          Sorry, your browser doesn't support embedded videos.
      </video>
    </div>
  </div>
</template>

<script>
import scrollDown from './scroll-down.vue'
export default {
  components: { scrollDown },
  data() {
    return {
      isHamburgerOpen: false,
      isVideoModalOpen: false,
    }
  },
  methods: {
    goTo(target) {
      const scrollHeight = document.getElementById(target).getBoundingClientRect().top;
      window.scrollTo({ top: scrollHeight, behavior: 'smooth' });
      setTimeout(() => this.isHamburgerOpen = false, 1000);
    }
  }
}
</script>


<style lang="scss" scoped>
@keyframes inDown {
  from {
    opacity: 0;
    transform: translate(-50%, -50px);
  }

  to {
    opacity: 1;
    transform: translateY(-50%, 0);
  }
}

@keyframes in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hokejista {
  from {
    opacity: 0;
    transform: translateX(calc(-50% - 200px));
  }

  to {
    opacity: 1;
    transform: translateX(calc(-50% + 25px));
  }
}

.videoModal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 100000;
  animation: in 1s linear 0s 1 forwards;

  &_video {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    box-shadow: 0 0 10vw #000;
  }
}

.container {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.pozadi {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.Play-button {
  display: block;
  position: absolute;
  top: h(593);
  left: 50%;
  transform: translateX(-50%);
  width: 185px;
  height: 185px;
  object-fit: contain;
  z-index: 1000;
  cursor: pointer;
  opacity: 0;
  animation: in 1.5s linear 1.5s 1 forwards;

  @media screen and (orientation: portrait) {
    width: r(130);
    height: r(130);
  }
}

.Rectangle {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: h(258);
  background-image: linear-gradient(to bottom, rgba(242, 245, 246, 0), #f2f5f6);
  z-index: 5;
}
//pokus
.mraky {
  display: block;
  z-index: 5;
  width: 100vw;
  height: 585px;
  object-fit: contain;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  position: absolute;
  top: h(296);
  left: 0;
}

.backgroundBottom {
  display: block;
  z-index: 5;
  width: 100vw;
  height: 258px;
  position: absolute;
  top: h(824);
  left: 0;
}

.bruslar---V2 {
  display: block;
  opacity: 0;
  z-index: 10;
  position: absolute;
  top: h(337);
  left: 50%;
  transform: translateX(calc(-50% + 25px));
  width: 1569px;
  height: 697px;
  object-fit: contain;
  animation: hokejista 2s ease 0s 1 forwards;
  animation-fill-mode: both;

  @media screen and (orientation: portrait) {
    height: 419px;
    top: h(550);
  }
}

.blueHighlight {
  color:#5bd7f1;
}

.greyHighlight {
  color: #aabcc7;
}

.title {
  opacity: 0;
  font-size: w(92);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  width: w(1192);
  color: white;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: h(213);
  margin: 0;
  animation: inDown 1s linear 0.5s 1 forwards;

  @media screen and (orientation: portrait) {
    width: r(320);
    font-size: r(52);
  }
}

.sentence {
  display: block;
  opacity: 0;
  width: max-content;
  float: left;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: white;
  position: absolute;
  top: h(175);
  left: 50%;
  transform: translateX(-50%);
  animation: inDown 1s linear 0.5s 1 forwards;

  @media screen and (orientation: portrait) {
    font-size: r(14);
  }
}

.nav {
  display: flex;
  width: 100%;
  float: left;
  margin-top: h(50);
  padding: 0 w(60);
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  opacity: 0;
  animation: in 1.5s linear 1.5s 1 forwards;

  @media screen and (orientation: portrait) {
    margin-top: f(22);
    padding: 0 r(15);
  }

  &_logo {
    @media screen and (orientation: portrait) {
      width: r(108);
      height: r(34);
    }
  }

  &_links {
    opacity: 0;
    animation: in 1.5s linear 1.5s 1 forwards;
    @media screen and (orientation: portrait) {
      display: none;
    }

    display: flex;
    position: absolute;
    top: h(75);
    left: 50%;
    transform: translateX(-50%);
    flex-flow: row nowrap;

    & > a, & > a:visited {
      color: white;
      letter-spacing: normal;
      margin-right: w(50);
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
    }

    & > a:last-of-type {
      margin-right: 0px;
    }
  }

  &_buttons {
    @media screen and (orientation: portrait) {
      display: none;
    }
    display: flex;
    flex-flow: row nowrap;
  }

  &_hamburger {
    @media screen and (orientation: portrait) {
      display: block;
    }

    display: none;
    width: r(23);
    height: r(19);
    cursor: pointer;
  }
}

.socialButtonsContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 30px;

  .usa {
    width: 24px;
    height: 24px;
  }

  & > img, & > a {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    cursor: pointer;
  }

  & > a {
    margin-right: 0px;
  }
}

.orderButton {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 106px;
  height: 38px;
  padding: 12px 19px 11px 18px;
  border-radius: 4px;
  background-color: #5bd7f1;
  border: none;
  outline: none;

  font-size: 13px;
  font-weight: 600;
  color: #010a27;

  & > img {
    display: block;
    width: 13px;
    height: 9px;
    margin: 3px 14px 3px 0;
    object-fit: contain;
  }
}

a {
  text-transform: uppercase;
}

.hamburger {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: r(22) r(15);
  background-color: #010a27;

  &_topRow {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & > img {
      display: block;
      width: r(108);
      height: r(34);
    }

    & > svg {
      display: block;
      width: r(23);
      height: r(23);
      cursor: pointer;
    }
  }

  &_links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & > a, & > a:visited {
      display: block;
      font-size: r(24);
      font-weight: 600;
      color: #fff;
      margin-top: f(30);
      text-decoration: none;

      &:first-child {
        margin-top: f(77);
      }
    }
  }

  &_socialLinks {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: f(187);
    left: 0;

    & > img, & > a, & > a img {
      display: block;
      width: r(38);
      height: r(38);
      margin-right: r(25);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &_orderButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: f(67);
    left: 50%;
    transform: translateX(-50%);
    background-color: #5bd7f1;
    width: r(240);
    height: r(38);
    border: none;
    border-radius: r(4);

    & > img {
      display: block;
      width: r(13);
      height: r(9);
      margin-left: r(14);
    }

    & > span {
      color: #010a27;
      font-size: r(13);
      font-weight: 600;
    }
  }
}

.outerContainer {
  display: block;
  width: 100%;
  height: 100vh;
}

</style>