<template>
  <button :class="[theme ? theme : '', 'messageButtonContainer']">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 15 11">
    <g fill="none" fill-rule="evenodd">
        <g :stroke="theme === 'dark' ? '#FFFFFF' : '#000000'" stroke-width="1.5">
            <g>
                <g>
                    <g>
                        <path d="M0 0H13V9H0z" transform="translate(-267 -2874) translate(250 2300) translate(0 560) translate(18 15)"/>
                        <path d="M0 0L6.5 6.189 13 0" transform="translate(-267 -2874) translate(250 2300) translate(0 560) translate(18 15)"/>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
      <span>{{$t('sendMessage')}}</span>
  </button>
</template>

<script>
export default {
  props: ['theme']
}
</script>

<style lang="scss" scoped>
[class*='messageButtonContainer'] {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 159px;
  height: 38px;
  padding: 12px 19px 11px 18px;
  border-radius: 4px;
  margin-top: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;

  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
  text-transform: uppercase;

  & > img {
    display: block;
    width: 13px;
    height: 9px;
    margin: 3px 14px 3px 0;
    object-fit: contain;
    color: white;
  }

  &[class*="light"] {
    background-color:#5bd7f1;
    color: #010a27;
  }

  &[class*="dark"] {
    background-color: #010a27;
    color: white;
  }
}

</style>