<template>
  <div class="playersContainer">
    <div class="player">
      <div class="player_imageContainer">
      <img src="~assets/player.png"
     srcset="~assets/player@2x.png 2x,
             ~assets/player@3x.png 3x"
     class="player_image"/>
     </div>
     <span class="player_title">Ondřej Vitásek
</span>
     <span class="player_club">Bílí Tygři Liberec</span>
    </div>
    <div class="player">
      <div class="player_imageContainer">
      <img src="~assets/player-copy-3.png"
     srcset="~assets/player-copy-3@2x.png 2x,
             ~assets/player-copy-3@3x.png 3x"
     class="player_image">
      </div>
     <span class="player_title">Ladislav Šmíd
</span>
     <span class="player_club">Bílí Tygři Liberec</span>
    </div>
    <div class="player">
      <div class="player_imageContainer">
      <img src="~assets/player-copy-4.png"
     srcset="~assets/player-copy-4@2x.png 2x,
             ~assets/player-copy-4@3x.png 3x"
     class="player_image">
      </div>
     <span class="player_title">Ronald Knot
</span>
     <span class="player_club">Bílí Tygři Liberec</span>
    </div>
    <div class="player">
      <div class="player_imageContainer">
      <img src="~assets/player-copy-5.png"
     srcset="~assets/player-copy-5@2x.png 2x,
             ~assets/player-copy-5@3x.png 3x"
     class="player_image">
      </div>
     <span class="player_title">Adam Musil
</span>
     <span class="player_club">Bílí Tygři Liberec</span>
    </div>
    <div class="player">
      <div class="player_imageContainer">
      <img src="~assets/player-copy-6.png"
     srcset="~assets/player-copy-6@2x.png 2x,
             ~assets/player-copy-6@3x.png 3x"
     class="player_image">
      </div>
     <span class="player_title">Michal Birner
</span>
     <span class="player_club">Bílí Tygři Liberec</span>
    </div>
  </div>
  <!-- <div class="playersContainer">
    <div class="player">
      <div class="player_imageContainer">
      <img src="~assets/bitmap_4.png"
     srcset="~assets/bitmap_4@2x.png 2x,
             ~assets/bitmap_4@3x.png 3x"
     class="player_image">
      </div>
     <span class="player_title">Jakub Vrána</span>
     <span class="player_club">Washington Capitals</span>
    </div>
    <div class="player">
      <div class="player_imageContainer">
      <img src="~assets/group-8.png"
     srcset="~assets/group-8@2x.png 2x,
             ~assets/group-8@3x.png 3x"
     class="player_image">
      </div>
     <span class="player_title">Michal Kempný</span>
     <span class="player_club">Washington Capitals</span>
    </div>
    <div class="player">
      <div class="player_imageContainer">
      <img src="~assets/bitmap-copy-2_2.png"
     srcset="~assets/bitmap-copy-2_2@2x.png 2x,
             ~assets/bitmap-copy-2_2@3x.png 3x"
     class="player_image">
      </div>
     <span class="player_title">Vítek Vaněček</span>
     <span class="player_club">Washington Capitals</span>
    </div>
    <div class="player">
      <div class="player_imageContainer">
      <img src="~assets/group-6.png"
     srcset="~assets/group-6@2x.png 2x,
             ~assets/group-6@3x.png 3x"
     class="player_image">
      </div>
     <span class="player_title">David Pastrňák</span>
     <span class="player_club">Boston Bruins</span>
    </div>
    <div class="player">
      <div class="player_imageContainer">
      <img src="~assets/bitmap-copy-2.png"
     srcset="~assets/bitmap-copy-2@2x.png 2x,
             ~assets/bitmap-copy-2@3x.png 3x"
     class="player_image">
      </div>
     <span class="player_title">Filip Chytil</span>
     <span class="player_club">New York Ranges</span>
    </div>
    <div class="player">
      <div class="player_imageContainer">
      <img src="~assets/bitmap_3.png"
     srcset="~assets/bitmap_3@2x.png 2x,
             ~assets/bitmap_3@3x.png 3x"
     class="player_image">
      </div>
     <span class="player_title">Bílí Tygři Liberec</span>
     <span class="player_club">Czech Extraliga</span>
    </div>
  </div>-->
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.playersContainer {
  @media screen and (orientation: portrait){
    width: 100%;
    justify-content: space-around;
    padding-top: r(115);
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: w(1420);
  padding-top: 45px;
}

.player {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: w(18);

  @media screen and (orientation: portrait){
    &:nth-child(1), &:nth-child(2), &:nth-child(6) {
      display: none;
    }

    font-size: r(11);
  }

  &_imageContainer {
    @media screen and (orientation: portrait){
     width: max-content; 
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: w(190);
    background-color: #f2f5f6;
  }

  &_image {
    @media screen and (orientation: portrait){
      width: r(96); 
    }
    width: w(160);
  }

  &_title {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 600;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }

  &club {
    display: block;
    width: 100%;
    text-align: center;
    white-space: nowrap;
  }

  &:nth-child(4)::before {
    @media screen and (orientation: portrait){
      top: r(-210);
      width: r(100);
      height: r(100);
    }

    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: -60px;
    transform: rotate(45deg);
  }
}
</style>