<template>
  <div class="productBoardContainer" id="Product">
    <img src="~assets/bitmap_2.png"
     srcset="~assets/bitmap_2@2x.png 2x,
             ~assets/bitmap_2@3x.png 3x"
     class="Bitmap"/>

    <h5 class="Product">{{$t('product')}}</h5>
    <h2 class="Designed-for-Power">{{$t('productTitle')}}</h2>
    <div class="board">
      <div class="board_item">
        <img src="~assets/stopwatch.svg"
     class="board_img">
        <div class="board_text">{{$t('product0')}}</div>
      </div>
      <div class="board_item">
        <img src="~assets/hardware-wench-screw.svg"
     class="board_img">
        <div class="board_text">{{$t('product1')}}</div>
      </div>
      <div class="board_item">
        <img src="~assets/business-contract-break.svg"
     class="board_img">
        <div class="board_text">{{$t('product2')}}</div>
      </div>
       <div class="board_item">
        <img src="~assets/athletics-team-running.svg"
     class="board_img">
        <div class="board_text">{{$t('product3')}} </div>
      </div>
      <div class="board_item">
        <img src="~assets/shipment-deliver.svg"
     class="board_img">
        <div class="board_text">{{$t('product4')}} </div>
      </div>
      <div class="board_item">
        <img src="~assets/safety-float.svg"
     class="board_img">
        <div class="board_text">{{$t('product5')}}</div>
      </div>
      <div class="board_item">
        <img src="~assets/design-tool-pens.svg"
     class="board_img">
        <div class="board_text">{{$t('product6')}}</div>
      </div>
      <div class="board_item">
        <img src="~assets/wedding-money-piggy.svg"
     class="board_img">
        <div class="board_text">{{$t('product7')}}</div>
      </div>
      <div class="board_item">
        <img src="~assets/fitness-dumbbell.svg"
     class="board_img">
        <div class="board_text">{{$t('product8')}} </div>
      </div>
      <div class="board_item">
        <img src="~assets/gaming-ribbon-100.svg"
     class="board_img">
        <div class="board_text">{{$t('product9')}}</div>
      </div>
      <div class="board_item">
        <img src="~assets/love-it-bubble.svg"
     class="board_img">
        <div class="board_text">{{$t('product10')}}</div>
      </div>
    </div>
  </div>
</template>eeee

<script>
export default {

}
</script>

<style lang="scss" scoped>
.productBoardContainer {
  @media screen and (orientation: portrait) {
    width: 100%;
    height: max-content;
    border-radius: 0;
    padding: r(25) 0 r(67) r(25);
  }

  display: block;
  float: left;
  position: relative;
  width: w(1540);
  height: w(544);
  padding: w(57) w(83) 0 w(110);
  border-radius: w(8);
  box-shadow: 0 w(8) w(24) 0 rgba(170, 188, 199, 0.6);
  background-color: #687c89;
  z-index: 1000;
}

.board {
  display: grid;
  float: left;
  margin-top: w(64);
  grid-template-columns: repeat(4, w(348.5));
  grid-template-rows: repeat(3, w(41));
  row-gap: w(63);

  @media screen and (orientation: portrait) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: r(50);
  }

  &_item {
    @media screen and (orientation: portrait) {
      margin-top: r(40);
    }

    display: block;
    width: 100%;
    height: 100%;
  }

  &_img {
    @media screen and (orientation: portrait) {
      margin-right: r(28);
      width: r(32);
    }

    display: block;
    float: left;
    height: 100%;
    margin-right: w(25);
  }

  &_text {
    @media screen and (orientation: portrait) {
      font-size: r(18);
      width: r(196);
    }

    display: block;
    float: left;
    width: w(200);
    height: 100%;
    font-family: ClashGrotesk;
    font-size: w(18);
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #ffffff;
  }
}

.Designed-for-Power {
  @media screen and (orientation: portrait) {
    margin-top: r(22);
    font-size: r(34);
  }

  display: block;
  float: left;
  margin-top: w(14);
  height: w(68);
  font-family: ClashGrotesk;
  font-size: w(60);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.Product {
  @media screen and (orientation: portrait) {
    font-size: r(16);
  }

  display: block;
  height: w(22);
  font-family: ClashGrotesk;
  font-size: w(16);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #ffffff;
}

.Bitmap {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: contain;
  opacity: 0.35;
}
</style>