<template>
  <div class="scrollContainer" @click="scroll">
    <span class="scroll">SCROLL</span>
    <img src="~assets/receive-money-receive-money-payment-arrow-down-purchase.svg"
     class="receive-money-receive-money-payment-arrow-down-purchase">
    <span class="down">DOWN</span>
  </div>
</template>

<script>
export default {
  methods: {
    scroll() {
      window.scrollTo({ top: window.innerHeight, behavior: 'smooth' });
    }
  }
}
</script>

<style lang="scss" scoped>
@keyframes inScroll {
  from {
    left: 50%;
    transform: translateX(-190%);
    opacity: 0;
  }

  to {
    left: 50%;
    transform: translateX(-190%);
    opacity: 1;
  }
}

.scrollContainer {
  opacity: 0;
  animation: inScroll 1.5s linear 1.5s 1 forwards;
  display: flex;
  flex-direction: row;
  width: min-content;
  height: min-content;
  position: absolute;
  bottom: h(30);
  left: 50%;
  cursor: pointer;
  z-index: 1000;
}

.scroll {
  width: 54px;
  height: 20px;
  margin: 0 13px 5px 0;
  font-family: ClashGrotesk;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: right;
  color: #aabcc7;
}

.down {
  width: 44px;
  height: 20px;
  margin: 0 0 5px 13px;
  font-family: ClashGrotesk;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  color: #aabcc7;
}

.receive-money-receive-money-payment-arrow-down-purchase {
  width: 29px;
  height: 23px;
  margin: 2px 13px 0;
  object-fit: contain;
}
</style>