<template>
  <div class="testimonialContainer" id="Players">
    <img src="~assets/bitmap.png"
     srcset="~assets/bitmap@2x.png 2x,
             ~assets/bitmap@3x.png 3x"
     class="rightImage">
     <img src="~assets/bitmap_6.png"
     srcset="~assets/bitmap_6@2x.png 2x,
             ~assets/bitmap_6@3x.png 3x"
     class="leftImage">
    <div class="text">
      {{$t('testimonial')}}
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.testimonialContainer {
  @media screen and (orientation: portrait) {
    width: r(350);
    height: r(244);
  }

  display: block;
  position: relative;
  width: w(1420);
  height: w(290);
  border-radius: 10px;
  background-color: white;
  z-index: 1;
  overflow: hidden;
}

.rightImage {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}

.leftImage {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}

.text {
  @media screen and (orientation: portrait) {
    margin: auto;
    width: r(294);
    margin-top: r(30);
    height: r(244);
    font-size: r(21);
  }

  display: block;
  margin: auto;
  width: w(882);
  text-align: center;
  margin-top: w(53);
  font-size: w(36);
  line-height: 1.5;
  color: #010a27;
}
</style>