@function w($size) {
  @return ($size / 1920) * 100vw;
}

@function h($size) {
  @return ($size / 1080) * 100vh;
}

@function r($size) {
  @return ($size / 375) * 100vw;
}

@function f($size) {
  @return ($size / 718) * 100vh;
}