<template>
  <div class="container">
    <landing-page />
    <div class="bodyContainer">
      <product-board />
      <image-row />
      <about />
      <testimonial />
      <players />
      <my-footer />
    </div>
  </div>
</template>

<script>
import imageRow from '../components/image-row.vue'
import about from '../components/about.vue'
import testimonial from '../components/testimonial.vue'
import players from '../components/players.vue'
import myFooter from '../components/my-footer.vue'
export default {
  components: { imageRow, about, testimonial, players, myFooter },
}
</script>

<style lang="scss" scoped>

.container {
  display: flex;
  width: 100vw;
  height: max-content;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}

.bodyContainer {
  width: 100vw;
  height: max-content;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f2f5f6;
}

</style>
